
body {
    margin:0px;
}
.Side-Navigation {
    display: flex;
    flex-direction: column;
    grid-row-start: 1;
    grid-row-end: 4;
    background-color: aquamarine;
    margin: 0px;
    padding: 0px;


}
.Side-Navigation p {
    margin: 10px;
    padding: 5px;
}

ul {
    list-style-type: none;
    padding: 0px;
    background: aquamarine;
}
ul li {
    padding: 5px;
    font-size:1em;
    font-family:'Times New Roman', Times, serif;
}
header {
    display: flex;
    grid-column-start: 2;
    grid-column-end: 5;
}
h1 {
    font-size: 1em;
}

.GridTop {
    color: blue;
    display:grid;
    grid-template-columns: 150px 150px 150px 150px;
    grid-template-rows: 150px 150px 150px 150px;
}

#Projects {
    display:flex;
    flex-wrap: wrap;
}
